<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Mapa del Sitio</h3>
            <ul>
                <li>Sobre Nosotros</li>
                <li>Servicios</li>
                <li>Contactos</li>
                <li>Formulario</li>
            </ul>
        </div>
        <div class="col">
            <h3 class="text-center">Información de contacto</h3>
            <ul>
                <li>Dirección: Mz 14 C9 B/Tamasagra II</li>
                <li>Teléfono: 6027224162</li>
                <li>Celular: 3135084176</li>
            </ul>
        </div>
        <div class="col-md-12 bg-light text-center">
            <p>Copyright@2022</p>
        </div>
    </div>
</div>
