<h1>PIPES</h1>
<br>
<div class="alert alert-primary" role="alert">
    <span> {{this.now}} </span>
    <span style="font-weight:bold"> Con pipe </span>
    <span class="badge bg-secondary" style="color:white"> date: </span>
    <span> {{this.now|date}} </span>
</div>

<div class="alert alert-primary" role="alert">
    <span> {{this.name}} </span>
    <span style="font-weight:bold"> Con pipe </span>
    <span class="badge bg-secondary" style="color:white"> LowerCase: </span>
    <span> {{this.name|lowercase}} </span>
</div>

<div class="alert alert-primary" role="alert">
    <span> {{this.name}} </span>
    <span style="font-weight:bold"> Con pipe </span>
    <span class="badge bg-secondary" style="color:white"> UpperCase: </span>
    <span> {{this.name|uppercase}} </span>
</div>

<div class="alert alert-primary" role="alert">
    <span> {{this.data}} </span>
    <span style="font-weight:bold"> Con pipe </span>
    <span class="badge bg-secondary" style="color:white"> json: </span>
    <span> {{this.data|json}} </span>
</div>